.example-container {
   padding-top: 1%;
  }
  
  .example-container > * {
    width: 50%;
    margin-right:20%;
    margin-left:20%;
    background-color: rgba(255, 255, 255, 0.9);
  color:black;
  display: flex;
    flex-direction: column;
  }
  .pad{
      padding: 5%;
  }