<div class="example-container">
  <div class="pad">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="address">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="City">
        </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option *ngFor="let state of states" value="option">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)]="phone">
      </mat-form-field>
      <button mat-raised-button (click)="sendOrder()">Go To Payment</button>
  </div>
  </div>