<html>
<h3 style="text-align: center; color:white;">Your order summary</h3>
<div class="cart">
  <div class="grid">
<mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of items">
          <div class="split">
           <div><p>{{ item.name }}</p></div>
           <div><p class="desc">{{ item.description }}</p></div>
            <div><p class="price">${{ item.price }}.00</p></div>
          </div>
        </mat-list-item>
 </mat-list>
</div>
 <h5>Total : ${{ total }}.00</h5>
</div>
<div class="order-form">
    <mat-radio-group [(ngModel)]="value">
        <mat-radio-button (click)="setShow(true)" [value]="1">Delivery</mat-radio-button>
        <mat-radio-button (click)="setShow(false)" [value]="2">To Go</mat-radio-button>
    </mat-radio-group>
  <app-pickup *ngIf="!show"></app-pickup>
  <app-delivery *ngIf="show"></app-delivery>
</div>
</html>